In [1]:
import pandas as pd

In [2]:
playlist_tracks = pd.read_csv("Dataset/playlist_tracks_df.csv")
artist_details = pd.read_csv("Dataset/artist_details_df.csv")
audio_features = pd.read_csv("Dataset/audio_features_df.csv")
related_artists = pd.read_csv("Dataset/related_artists_df.csv")

# Data cleaning

### Cleaning playlist_tracks

In [3]:
playlist_tracks.head()

,Unnamed: 0,Track Name,Track ID,Artist Names,Artist IDs,Track Popularity,Date Released,Date Added
0,0,Kahani Suno 2.0,4VsP4Dm8gsibRxB5I2hEkw,['Kaifi Khalil'],['1n9EM0Y4A89vuRiA93gSS9'],81,2022-05-31,2023-03-01T10:20:49Z
1,1,Apna Bana Le,1zhpW0PLYAhzF3X49GaAOX,"['Sachin-Jigar', 'Arijit Singh', 'Amitabh Bhat...","['1mBydYMVBECdDmMfE2sEUO', '4YRxDV8wJFPHPTeXep...",76,2022-12-06,2023-03-01T10:20:49Z
2,2,Maan Meri Jaan,1418IuVKQPTYqt7QNJ9RXN,['King'],['5NHm4TU5Twz7owibYxJfFU'],85,2022-10-12,2023-03-01T10:20:49Z
3,3,Jhoome Jo Pathaan,6FAYpZ4jve8vpvTwUvjK6H,"['Vishal-Shekhar', 'Arijit Singh', 'Sukriti Ka...","['6Mv8GjQa7LKUGCAqa9qqdb', '4YRxDV8wJFPHPTeXep...",82,2022-12-22,2023-03-01T10:20:49Z
4,4,"Besharam Rang (From ""Pathaan"")",0CtZpaOhtzvLV3FfcsVpQo,"['Vishal-Shekhar', 'Shilpa Rao', 'Caralisa Mon...","['6Mv8GjQa7LKUGCAqa9qqdb', '19LIHDDSHBD5NyYHI3...",82,2022-12-12,2023-03-01T10:20:49Z

In [4]:
playlist_tracks.columns

Index(['Unnamed: 0', 'Track Name', 'Track ID', 'Artist Names', 'Artist IDs',
       'Track Popularity', 'Date Released', 'Date Added'],
      dtype='object')

In [4]:
playlist_tracks["Track Rank"] = playlist_tracks["Unnamed: 0"]+1

In [6]:
playlist_tracks.tail()

,Unnamed: 0,Track Name,Track ID,Artist Names,Artist IDs,Track Popularity,Date Released,Date Added,Track Rank
45,45,"Maiyya Mainu (From ""Jersey"")",4PwTeFfKqmR3XIeXXUBDOf,"['Sachet-Parampara', 'Sachet Tandon']","['1SyKki7JI1AZNKwgNMkn25', '6WOdPJmexxFINcKMkP...",75,2021-12-08,2023-03-01T10:20:49Z,46
46,46,Basti Ka Hasti,3k9PtGmPNnQtt32TKWm6f3,['MC STAN'],['5uemEEtB1ZC3s1KM7gReeH'],73,2022-02-18,2023-03-01T10:20:49Z,47
47,47,We Rollin,6ZYxNjuAU9Vy3VtF6W1dtE,['Shubh'],['5r3wPya2PpeTTsXsGhQU8O'],75,2021-09-09,2023-03-01T10:20:49Z,48
48,48,Under The Influence,5IgjP7X4th6nMNDh4akUHb,['Chris Brown'],['7bXgB6jMjp9ATFy66eO08Z'],88,2019-10-04,2023-03-01T10:20:49Z,49
49,49,"Ranjithame (From ""Varisu"")",1LbBOhicFmu7ktJqIHCELt,"['Thalapathy Vijay', 'M.M.Manasi', 'Thaman S']","['0fhunuOz2OuOEr3YK5ctSm', '3JGrxsZ6kfzJrfwsxw...",76,2022-11-05,2023-03-01T10:20:49Z,50

In [7]:
playlist_tracks.drop('Unnamed: 0', inplace=True, axis = "columns")

In [8]:
playlist_tracks['Date Added'] = pd.to_datetime(playlist_tracks['Date Added'])
playlist_tracks['Date Released'] = pd.to_datetime(playlist_tracks['Date Released'])

In [9]:
playlist_tracks["Date Added"] = playlist_tracks["Date Added"].dt.date

In [10]:
playlist_tracks['Date Added'] = pd.to_datetime(playlist_tracks['Date Added'])

In [11]:
playlist_tracks.head()

,Track Name,Track ID,Artist Names,Artist IDs,Track Popularity,Date Released,Date Added,Track Rank
0,Kahani Suno 2.0,4VsP4Dm8gsibRxB5I2hEkw,['Kaifi Khalil'],['1n9EM0Y4A89vuRiA93gSS9'],81,2022-05-31,2023-03-01,1
1,Apna Bana Le,1zhpW0PLYAhzF3X49GaAOX,"['Sachin-Jigar', 'Arijit Singh', 'Amitabh Bhat...","['1mBydYMVBECdDmMfE2sEUO', '4YRxDV8wJFPHPTeXep...",76,2022-12-06,2023-03-01,2
2,Maan Meri Jaan,1418IuVKQPTYqt7QNJ9RXN,['King'],['5NHm4TU5Twz7owibYxJfFU'],85,2022-10-12,2023-03-01,3
3,Jhoome Jo Pathaan,6FAYpZ4jve8vpvTwUvjK6H,"['Vishal-Shekhar', 'Arijit Singh', 'Sukriti Ka...","['6Mv8GjQa7LKUGCAqa9qqdb', '4YRxDV8wJFPHPTeXep...",82,2022-12-22,2023-03-01,4
4,"Besharam Rang (From ""Pathaan"")",0CtZpaOhtzvLV3FfcsVpQo,"['Vishal-Shekhar', 'Shilpa Rao', 'Caralisa Mon...","['6Mv8GjQa7LKUGCAqa9qqdb', '19LIHDDSHBD5NyYHI3...",82,2022-12-12,2023-03-01,5

In [12]:
# Exploding Artist Names and Artist ID columns

import ast

# convert string columns to lists
playlist_tracks['Artist Names'] = playlist_tracks['Artist Names'].apply(ast.literal_eval)
playlist_tracks['Artist IDs'] = playlist_tracks['Artist IDs'].apply(ast.literal_eval)

# explode the 'Artist Names' column
playlist_tracks = playlist_tracks.explode('Artist Names')

# explode the 'Artist IDs' column
playlist_tracks = playlist_tracks.explode('Artist IDs')

In [39]:
playlist_tracks.rename(columns={'Track Name': 'track_name', 'Track ID': 'track_id', 'Artist Names': 'artist_name',  'Artist IDs': 'artist_id','Track Popularity': 'track_popularity', 'Date Released': 'date_released', 'Track Rank': 'track_rank'}, inplace=True)

In [41]:
playlist_tracks.rename(columns={'Date Added': 'date_added'}, inplace=True)

In [42]:
playlist_tracks

,track_name,track_id,artist_name,artist_id,track_popularity,date_released,date_added,track_rank
0,Kahani Suno 2.0,4VsP4Dm8gsibRxB5I2hEkw,Kaifi Khalil,1n9EM0Y4A89vuRiA93gSS9,81,2022-05-31,2023-03-01,1
1,Apna Bana Le,1zhpW0PLYAhzF3X49GaAOX,Sachin-Jigar,1mBydYMVBECdDmMfE2sEUO,76,2022-12-06,2023-03-01,2
1,Apna Bana Le,1zhpW0PLYAhzF3X49GaAOX,Sachin-Jigar,4YRxDV8wJFPHPTeXepOstw,76,2022-12-06,2023-03-01,2
1,Apna Bana Le,1zhpW0PLYAhzF3X49GaAOX,Sachin-Jigar,2fMqTqiTxUDlmcOEPaQSsx,76,2022-12-06,2023-03-01,2
1,Apna Bana Le,1zhpW0PLYAhzF3X49GaAOX,Arijit Singh,1mBydYMVBECdDmMfE2sEUO,76,2022-12-06,2023-03-01,2
...,...,...,...,...,...,...,...,...
49,"Ranjithame (From ""Varisu"")",1LbBOhicFmu7ktJqIHCELt,M.M.Manasi,3JGrxsZ6kfzJrfwsxwERhS,76,2022-11-05,2023-03-01,50
49,"Ranjithame (From ""Varisu"")",1LbBOhicFmu7ktJqIHCELt,M.M.Manasi,2FgHPfRprDaylrSRVf1UlN,76,2022-11-05,2023-03-01,50
49,"Ranjithame (From ""Varisu"")",1LbBOhicFmu7ktJqIHCELt,Thaman S,0fhunuOz2OuOEr3YK5ctSm,76,2022-11-05,2023-03-01,50
49,"Ranjithame (From ""Varisu"")",1LbBOhicFmu7ktJqIHCELt,Thaman S,3JGrxsZ6kfzJrfwsxwERhS,76,2022-11-05,2023-03-01,50
49,"Ranjithame (From ""Varisu"")",1LbBOhicFmu7ktJqIHCELt,Thaman S,2FgHPfRprDaylrSRVf1UlN,76,2022-11-05,2023-03-01,50

In [15]:
playlist_tracks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 49
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Track Name        333 non-null    object
 1   Track ID          333 non-null    object
 2   Artist Names      333 non-null    object
 3   Artist IDs        333 non-null    object
 4   Track Popularity  333 non-null    int64
 5   Date Released     333 non-null    datetime64[ns]
 6   Date Added        333 non-null    datetime64[ns]
 7   Track Rank        333 non-null    int64
dtypes: datetime64[ns](2), int64(2), object(4)
memory usage: 23.4+ KB

### Cleaning artist_details

In [16]:
artist_details.head()

,Unnamed: 0,Artist ID,Artist Name,Num Followers,Genres,Popularity
0,0,3lmszXxkp47K9kDCRRPU8p,Laddi Chahal,24504,"['desi pop', 'punjabi pop']",62
1,1,6nAMu7pGqdwUSsGMZPUvSk,40k,751,[],60
2,2,1rdQOMFFtoskDXXUVjiGo9,Shweta Mohan,750829,"['filmi', 'tamil pop']",71
3,3,3gBKY0y3dFFVRqicLnVZYz,Alka Yagnik,8427469,"['classic bollywood', 'desi pop', 'filmi', 'ha...",81
4,4,1i31OYo0s5VoMCaMRJFZkJ,The Paul,354,[],60

In [17]:
artist_details.drop('Unnamed: 0', inplace=True, axis = "columns")

In [43]:
artist_details.rename(columns={'Num Followers': 'num_followers', 'Artist Name': 'artist_name',  'Artist ID': 'artist_id','Genres': 'genres',  'Popularity': 'popularity'}, inplace=True)

In [44]:
artist_details.head()

,artist_id,artist_name,num_followers,genres,popularity
0,3lmszXxkp47K9kDCRRPU8p,Laddi Chahal,24504,"['desi pop', 'punjabi pop']",62
1,6nAMu7pGqdwUSsGMZPUvSk,40k,751,[],60
2,1rdQOMFFtoskDXXUVjiGo9,Shweta Mohan,750829,"['filmi', 'tamil pop']",71
3,3gBKY0y3dFFVRqicLnVZYz,Alka Yagnik,8427469,"['classic bollywood', 'desi pop', 'filmi', 'ha...",81
4,1i31OYo0s5VoMCaMRJFZkJ,The Paul,354,[],60

### Cleaning audio_features

In [24]:
audio_features.head()

,track_id,analysis_url,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence
0,4VsP4Dm8gsibRxB5I2hEkw,https://api.spotify.com/v1/audio-analysis/4VsP...,0.9090,0.577,173638,0.379,0.000586,11,0.0986,-13.235,1,0.0374,139.585,3,0.260
1,1zhpW0PLYAhzF3X49GaAOX,https://api.spotify.com/v1/audio-analysis/1zhp...,0.8030,0.586,261702,0.562,0.000006,9,0.0630,-7.399,1,0.0267,93.982,4,0.436
2,1418IuVKQPTYqt7QNJ9RXN,https://api.spotify.com/v1/audio-analysis/1418...,0.3540,0.698,194654,0.505,0.000000,6,0.0995,-8.242,0,0.0356,95.868,4,0.396
3,6FAYpZ4jve8vpvTwUvjK6H,https://api.spotify.com/v1/audio-analysis/6FAY...,0.0964,0.817,208164,0.738,0.000000,7,0.3310,-7.639,1,0.0748,104.964,4,0.616
4,0CtZpaOhtzvLV3FfcsVpQo,https://api.spotify.com/v1/audio-analysis/0CtZ...,0.0587,0.773,258474,0.795,0.002370,8,0.1540,-5.537,0,0.0412,115.997,4,0.649

In [20]:
audio_features.drop('Unnamed: 0', inplace=True, axis = "columns")

### Cleaning related_artists

In [23]:
related_artists.head()

                Artist ID       Related Artist ID Related Artist Name
0  3lmszXxkp47K9kDCRRPU8p  2hmIpieYhZEQJDzlWpNMQg          Romey Maan
1  3lmszXxkp47K9kDCRRPU8p  3OQRPFFS3OsltFjFAXu1kE       Parmish Verma
2  3lmszXxkp47K9kDCRRPU8p  4j4SDkxwy0Z68dIh5Vr7fh       Bhindder Burj
3  3lmszXxkp47K9kDCRRPU8p  28kGdf2ant8i73Fab2F7xq      Amantej Hundal
4  3lmszXxkp47K9kDCRRPU8p  5wGjQPYmBAnDmtNeOMoavY         Tyson Sidhu

In [22]:
related_artists.drop('Unnamed: 0', inplace=True, axis = "columns")

In [45]:
related_artists.rename(columns={'Artist ID': 'artist_id','Related Artist ID': 'related_artist_id',  'Related Artist Name': 'related_artist_name'}, inplace=True)

In [46]:
related_artists.head()

                artist_id       related_artist_id related_artist_name
0  3lmszXxkp47K9kDCRRPU8p  2hmIpieYhZEQJDzlWpNMQg          Romey Maan
1  3lmszXxkp47K9kDCRRPU8p  3OQRPFFS3OsltFjFAXu1kE       Parmish Verma
2  3lmszXxkp47K9kDCRRPU8p  4j4SDkxwy0Z68dIh5Vr7fh       Bhindder Burj
3  3lmszXxkp47K9kDCRRPU8p  28kGdf2ant8i73Fab2F7xq      Amantej Hundal
4  3lmszXxkp47K9kDCRRPU8p  5wGjQPYmBAnDmtNeOMoavY         Tyson Sidhu

# Uploading to Database

In [31]:
from sqlalchemy import create_engine

In [34]:
engine = create_engine("mysql+pymysql://root:ankursingh28@localhost:3306/spotify")

In [47]:
playlist_tracks.to_sql(
    name = "playlist_tracks",
    con = engine,
    index = False,
    if_exists = 'replace')

333

In [48]:
artist_details.to_sql(
    name = "artist_details",
    con = engine,
    index = False,
    if_exists = 'replace')

82

In [49]:
audio_features.to_sql(
    name = "audio_features",
    con = engine,
    index = False,
    if_exists = 'replace')

50

In [50]:
related_artists.to_sql(
    name = "related_artists",
    con = engine,
    index = False,
    if_exists = 'replace')

1496