In [2]:
import pandas as pd

In [3]:
playlist_tracks = pd.read_csv("Dataset/playlist_tracks_df.csv")
artist_details = pd.read_csv("Dataset/artist_details_df.csv")
audio_features = pd.read_csv("Dataset/audio_features_df.csv")
related_artists = pd.read_csv("Dataset/related_artists_df.csv")

# Data cleaning

In [42]:
playlist_tracks.columns

Index(['Track ID', 'Artist Names', 'Artist IDs', 'Track Name',
       'Track Popularity', 'Date Released', 'Date Added'],
      dtype='object')

In [5]:
playlist_tracks.drop('Unnamed: 0', inplace=True, axis = "columns")

In [50]:
playlist_tracks.head()

,Track ID,Artist Names,Artist IDs,Track Name,Track Popularity,Date Released,Date Added
0,4VsP4Dm8gsibRxB5I2hEkw,Kaifi Khalil,1n9EM0Y4A89vuRiA93gSS9,Kahani Suno 2.0,81,2022-05-31,2023-03-01
1,1zhpW0PLYAhzF3X49GaAOX,Sachin-Jigar,1mBydYMVBECdDmMfE2sEUO,Apna Bana Le,76,2022-12-06,2023-03-01
1,1zhpW0PLYAhzF3X49GaAOX,Sachin-Jigar,4YRxDV8wJFPHPTeXepOstw,Apna Bana Le,76,2022-12-06,2023-03-01
1,1zhpW0PLYAhzF3X49GaAOX,Sachin-Jigar,2fMqTqiTxUDlmcOEPaQSsx,Apna Bana Le,76,2022-12-06,2023-03-01
1,1zhpW0PLYAhzF3X49GaAOX,Arijit Singh,1mBydYMVBECdDmMfE2sEUO,Apna Bana Le,76,2022-12-06,2023-03-01

In [29]:
playlist_tracks["Date Added"] = playlist_tracks["Date Added"].dt.date

In [49]:
import ast

# convert string columns to lists
playlist_tracks['Artist Names'] = playlist_tracks['Artist Names'].apply(ast.literal_eval)
playlist_tracks['Artist IDs'] = playlist_tracks['Artist IDs'].apply(ast.literal_eval)

# explode the 'Artist Names' column
playlist_tracks = playlist_tracks.explode('Artist Names')

# explode the 'Artist IDs' column
playlist_tracks = playlist_tracks.explode('Artist IDs')

In [44]:
playlist_tracks.columns

Index(['Track ID', 'Artist Names', 'Artist IDs', 'Track Name',
       'Track Popularity', 'Date Released', 'Date Added'],
      dtype='object')

In [7]:
playlist_tracks['Date Added'] = pd.to_datetime(playlist_tracks['Date Added'])

In [8]:
playlist_tracks['Date Released'] = pd.to_datetime(playlist_tracks['Date Released'])

In [51]:
playlist_tracks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 49
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Track ID          333 non-null    object
 1   Artist Names      333 non-null    object
 2   Artist IDs        333 non-null    object
 3   Track Name        333 non-null    object
 4   Track Popularity  333 non-null    int64
 5   Date Released     333 non-null    datetime64[ns]
 6   Date Added        333 non-null    object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 20.8+ KB

In [13]:
artist_details.drop('Unnamed: 0', inplace=True, axis = "columns")

In [16]:
artist_details.head()

,Artist ID,Artist Name,Num Followers,Genres,Popularity
0,3lmszXxkp47K9kDCRRPU8p,Laddi Chahal,24504,"['desi pop', 'punjabi pop']",62
1,6nAMu7pGqdwUSsGMZPUvSk,40k,751,[],60
2,1rdQOMFFtoskDXXUVjiGo9,Shweta Mohan,750829,"['filmi', 'tamil pop']",71
3,3gBKY0y3dFFVRqicLnVZYz,Alka Yagnik,8427469,"['classic bollywood', 'desi pop', 'filmi', 'ha...",81
4,1i31OYo0s5VoMCaMRJFZkJ,The Paul,354,[],60

In [22]:
artist_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Artist ID      82 non-null     object
 1   Artist Name    82 non-null     object
 2   Num Followers  82 non-null     int64
 3   Genres         82 non-null     object
 4   Popularity     82 non-null     int64
dtypes: int64(2), object(3)
memory usage: 3.3+ KB

In [19]:
audio_features.head()

,track_id,analysis_url,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence
0,4VsP4Dm8gsibRxB5I2hEkw,https://api.spotify.com/v1/audio-analysis/4VsP...,0.9090,0.577,173638,0.379,0.000586,11,0.0986,-13.235,1,0.0374,139.585,3,0.260
1,1zhpW0PLYAhzF3X49GaAOX,https://api.spotify.com/v1/audio-analysis/1zhp...,0.8030,0.586,261702,0.562,0.000006,9,0.0630,-7.399,1,0.0267,93.982,4,0.436
2,1418IuVKQPTYqt7QNJ9RXN,https://api.spotify.com/v1/audio-analysis/1418...,0.3540,0.698,194654,0.505,0.000000,6,0.0995,-8.242,0,0.0356,95.868,4,0.396
3,6FAYpZ4jve8vpvTwUvjK6H,https://api.spotify.com/v1/audio-analysis/6FAY...,0.0964,0.817,208164,0.738,0.000000,7,0.3310,-7.639,1,0.0748,104.964,4,0.616
4,0CtZpaOhtzvLV3FfcsVpQo,https://api.spotify.com/v1/audio-analysis/0CtZ...,0.0587,0.773,258474,0.795,0.002370,8,0.1540,-5.537,0,0.0412,115.997,4,0.649

In [18]:
audio_features.drop('Unnamed: 0', inplace=True, axis = "columns")

In [24]:
related_artists.head()

                Artist ID       Related Artist ID Related Artist Name
0  3lmszXxkp47K9kDCRRPU8p  2hmIpieYhZEQJDzlWpNMQg          Romey Maan
1  3lmszXxkp47K9kDCRRPU8p  3OQRPFFS3OsltFjFAXu1kE       Parmish Verma
2  3lmszXxkp47K9kDCRRPU8p  4j4SDkxwy0Z68dIh5Vr7fh       Bhindder Burj
3  3lmszXxkp47K9kDCRRPU8p  28kGdf2ant8i73Fab2F7xq      Amantej Hundal
4  3lmszXxkp47K9kDCRRPU8p  5wGjQPYmBAnDmtNeOMoavY         Tyson Sidhu

In [23]:
related_artists.drop('Unnamed: 0', inplace=True, axis = "columns")